<div class="flex justify-between w-vw px-10 py-6">
  <div class="flex text-xl font-semibold justify-start">
    <span>4C</span>
  </div>
  <div class="flex justify-center"></div>
  <div class="flex justify-end"></div>
</div>
